//I came in like awreckinballbyMile

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:wght@300&family=Playfair+Display:ital,wght@0,400;0,500;1,600&family=Poppins:wght@100;200&family=Roboto:wght@100&display=swap');

:root{
    --white: #fff;
    --black: #131010;
    --grey: #fff;
    --blue: #1E9FF2;
    --indigo: #6610F2;
    --purple: #6F42C1;
    --pink: #E83E8C;
    --red: #FF4961;
    --orange: #FF9149;
    --yellow: #FFC107;
    --green: #28D094;
    --brown: #BD9C6C;
    --teal: #20C997;
    --cyan: #666EE8;
    --white: #FFFFFF;
    --gray: #6B6F82;
    --gray-dark: #464855;
    --primary: #666EE8;
    --secondary: #6B6F82;
    --success: #28D094;
    --info: #1E9FF2;
    --warning: #FF9149;
    --danger: #FF4961;
    --light: #BABFC7;
    --dark: #464855;
    --ug: #153d6f;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: 'Open Sans',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
    --font-family-monospace: 'Quicksand',Georgia,'Times New Roman',Times,serif;
}
title{
    text-transform: uppercase;
}

*, *::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lato";
}

body{
    background-image: url(/loginbackground1.jpg);
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    overflow: none;
    object-fit: cover;
    background-position: 50% 50%;
    /*animation: zoom 5s infinite alternate;*/
    left: 0;
    top: 0;
}

/*
.module:hover{
background-position-y: 0.4rem;
background-position-x: -0.25rem !important;
transition: all .5s ease;
}

*/
@keyframes zoom {
    0%{
    transform: translateZ(80%);
    }

    25%{  
        transform: translateZ(85%);
      }

    75%{  
        transform: translateZ(90%);
      }

    100%{  
        transform: translateX(100%);
      }
    
}

.menu img{
    display: none;
}

header{
    margin-left: 5rem;
    margin-right: 4rem;
    margin-top: 2rem;
    padding: 0;
    background: transparent;
    background-attachment: fixed;
    position: relative;
}


img{
    position: absolute;
}
.container nav{
    position: relative;
    display: flex;
    padding: 20px;
    margin:  0rem 1.5rem 1rem;
    left: 40%;
    width: 100%;
    font-family: "Lato", sans-serif ;
    overflow: visible;
}

.container .mobile-tabs{
    display: none;
}

ul{
    list-style: none;
    display: inline-flex;
    gap: 20px;
    font-weight: 600;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

li:hover{
    
    background: white;
    border-bottom: 1px solid black;
}

.bg-dark{
    color: white;
}

.container nav ul li a{
    width: 100%;
    line-height: 1.6;
    height: 100px;
}

.container nav ul li a{
    background-color: white;
    height: 100%;
    width: 100%;
}

.container nav ul li a{
    text-decoration: none;
    color: black;
    background-color: var(--);    
    
}

.container li:hover{
    border-bottom: 2px solid var(--black);
    cursor: pointer;
    transform: scale(1.4rem);
}

.container li:focus-within{
    border-bottom: 2px solid var(--black);
}

.tab{
    left: 10rem;
    top: 0;
    overflow: visible;
    margin-left: 13.5rem ;
    height: 35px;
    cursor: pointer;
    border-radius: 0 15px 0 15px;
    width: 90px;
    border:  solid 2px var(--brown);
    background: var(--ug);
    font-family: "Playfair Display";
    color: white;
    text-transform: uppercase;
    font-size: small;
    font-weight: 400;
}

.tab:hover{
    opacity: .95;
    border-radius: 0 15px 15px 15px;

}

.tab:focus-within{
    border-radius: 0 15px 0 15px;
}

.main{

    margin: 8rem 2rem 8rem 2rem;
    columns: 0;
    top: 25%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 35%;
    grid-gap: 10px;
    background: transparent;
    height: 100%;
    text-transform: uppercase;
}
.card{
    justify-content: center;
    align-items: center; 
    position: absolute;
    background: fixed;
}

.caption span{
    font-family: "poppins";
    font-weight: bold;
    text-decoration: 1px solid  var(--gray);
    color: var(--gray);
}

.caption h1{
    font-weight: bolder;
    text-decoration: solid 1px var(--white);
    font-family: "Montserrat";
}

.caption p{
    align-items: center;
    justify-content: center;
}

.naya{
    margin-left: 20%;
    margin-top: 12.5%;
}

.naya .cards{
    padding: 2rem;
    background: var(--white);
    opacity: .85;
    height: 120px;
    justify-content: center;
    align-items: center;
    border: 2px;
    border-end-end-radius: 10px;
    display: inline-block;
}

*p,*h2{
    align-items: center;
    justify-content: center;
    justify-items: center;
}



.levels{
    position: relative;
    padding: 0;
    margin: 0;
    align-items: right;
    justify-self: left;
    padding-top: 5rem;
}

.levels nav ul a{
    width: 120px;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-radius: 2px;
    align-content: center;
    row-gap: 10px;
    text-align: center;
}

.levels nav ul a:hover{
    transform: scale(.9);
    transition: .3s ease-in-out;
    color: white;
    background-color: var(--gray);
}

.levels nav ul{
    display: block;
    gap: 2rem;
}


.levels nav ul li{
    display: grid;
    grid-template-rows: 85% 15%;
    border-radius: 7px;
}

footer{
    color: var(--white);
}


.top{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background-color: transparent;
    padding: 1rem;
    border: 1px solid var(--black);
    outline: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 111;
    opacity: 0;
}


.open-button {
    background-color: var(--orange);
    color: black;
    padding: 16px 20px;
    font-family: "Lato";
    font-weight: 700;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 47%;
    right: 25%;
    width: 280px;
    border-radius: 5px;
  }

  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    top: 12rem;
    right: 0;
    left: 15rem;
    z-index: 9;
    margin: auto;
    overflow-y: auto;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height: 800px;
}


.form-container {
    max-width: 750px;
    padding: 2rem;
    background-color: white;
    border-end-end-radius: 14px;
  }

  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }


  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-container .btn {
    background-color: #037726;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 50%;
    margin-bottom:10px;
    margin-left: 10px ;
    margin-right: 10px ;
    opacity: 0.8;
    border-radius: 6px;
    text-align: center;
    font-size: medium;

  }
    

  .web{
      display: block;
  }

  .mobile-programme{
      display: none;
  }

  .levels{
      display: none;
  }
  

  .buttons{
      display: flex;
      align-items: center;
      float: center;
      gap: 2px;
  }

  .form-container .cancel {
    background-color: var(--danger);
  }

  .form-container .btn:hover{
    opacity: 1;
    transform: scale(.95);
    transition: ease-in-out;
  }

  .open-button:hover {
      background-color: var(--light);
      transform: scale(.95);
      transition: ease-in-out;
      color: #fff;
      
    }

  .title span{
    display: block;
    text-align: center;
    font-size: large;
    font-weight: 700;
  }

  .checkboxes{
      padding: 10px 0px 10px  40px;
  }
  

/*Preloader Effect*/
.preloader{
    height: 100%;
    width: 100%;
    background: var(--white);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}



.spinner
{
    height: 1rem;
    width: 1rem;
    border: 3px solid var(--white);
    border-top: 3px solid var(--ug);
    border-right: 3px solid var(--ug );
    border-bottom: 3px solid var(--brown);
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    animation: rotate 1s infinite ease-in-out;
}
.preloader img{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 55%;
    margin: auto;
    animation: zoom-in;
}



@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
   
}


button[type = submit]{
    display: none;
}

/*Form Update*/

.steps{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    border-bottom: 1px solid #cfd2d4;
}

.steps p{
    background: #cfd2d4;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.steps p:focus-within{
    border: var(--brown) solid 2px !important;
}

form{
    overflow: hidden !important;
}

.form-item{
    margin: 1.5rem 0;
    display: none;
    animation: slide-in .5s ease;
}

@keyframes slide-in {
    0%{
        transform: translateX(50rem);
    }
    100%{
        transform: translateX(0);
    }
    
}

.form-item input{
    padding: 8px;
  
}


/*Media Query*/

@media screen and (max-width: 765px){
   
    *, *::after,*::before{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: "Lato";
    }
   

   body{
       background-position: fixed;
        }

    header{
       margin-left: .5rem;
       margin-right: .5rem;
       margin-top: 1rem;
       background: transparent;
       background-attachment: fixed;
       position: relative;
       gap: 0rem;
    }

    img{
        position: absolute !important;
        width: 250px;
        height: 40px;
    }

    .container nav{
        position: relative;
        padding: 10px;
        margin:  0rem 1rem 1rem;
        left: 65%;
        top: 3rem;
        width: 100%;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        overflow: visible;
        align-items: center;
        justify-content: center;
        animation: pop-down 500 vertical finite;
        z-index: 2;
        display: none;
    }

    @keyframes pop-down {
        0%{
            transform: translateY(-4rem)
        }
        
        100%{
            transform: translateY(0);
        }
    }




    ul{
        list-style: none;
        display: inline-block;
        font-weight: 400;
        font-family: "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 30vw;
        justify-content: center;
        left: 3rem;
        right: 0%;
        top: 5rem;
        font-size: small;
        font-weight: bold;
    }

    .container nav ul li a{
        width: 30vw;
    }

    li:hover{
        background: var(--white);
        border-bottom: 1px solid var(--black);
        width: 25vw;
        text-align: center;
        font-size: small;
    }


    .menu img{
        display: block;
        left: 85%;
        margin: auto;
        position: absolute;
        width: auto;
    }



    .tab{
        left: 10%;
        top: 0%;
        overflow: visible;
        z-index: 3;
        margin-left: -1rem;
        cursor: pointer;
        height: 25px;
        width: 70px;
        border-radius:   15px  0 15px 0 ;
        background: var(--ug);
        font-size: small;
        font-family: "Playfair Display";
        color: var(--white);
    }

    .tab:hover{
        opacity: .97;
        border-radius:  0 15px 15px  15px;
    }

    .tab:focus-within{
        border-radius:  0 15px 0 15px;
    }

    .main, .naya .cards{
        
        margin: auto;
        top: 12rem;
        left: 0;
        right:0;
        bottom: 30%;
        opacity: .89s;
        height: 180px;
        justify-content: center;
        align-items: center;
        border: 2px;
        border-end-end-radius: 10px;
        width: 300px; 
        position: fixed;
        padding: 1rem;

    }

    .naya .cards :first{
        font-weight: 300;
        font-size: small;
        text-align: center;
    }

     *p, h2{
         justify-content: center;
         align-items: center;
         text-align: center;
        font-size: medium;
        }

        .open-button{
            background: var(--orange) ;
            color: black;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            position: absolute;
            opacity: .85;
            border: none;
            right: 0;
            left: 0;
            top: 85%;
            bottom: -5.5rem;
            margin: auto;
            width: 250px;
            height: 50px;

        }

        .form-popup{
            display: none;
            position: absolute;
            top: 30%;
            left: 2%;
            right: 2%;
            bottom: 0%;
            margin: auto;
            overflow-y: auto;
            justify-content: center;

        }

        .form-container{
            max-width: 600px;
            border-radius:  0 0 14px 14px;
            z-index: 1111;
            position: relative;
            top: 6rem;
            height: 615px;
            padding: 1rem;
            overflow-y: visible;

        }

        .title span{
            text-align: center;
            font-size: medium;
        }

        .checkboxes{
            padding: 5px 0 5px 20px;
        }




















}
