 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:wght@300&family=Playfair+Display:ital,wght@0,400;0,500;1,600&family=Poppins:wght@100;200&family=Roboto:wght@100&display=swap');

:root{
    --white: #fff;
    --black: #131010;
    --grey: #fff;
    --blue: #1E9FF2;
    --indigo: #6610F2;
    --purple: #6F42C1;
    --pink: #E83E8C;
    --red: #FF4961;
    --orange: #FF9149;
    --yellow: #FFC107;
    --green: #28D094;
    --brown: #BD9C6C;
    --teal: #20C997;
    --cyan: #666EE8;
    --white: #FFFFFF;
    --gray: #6B6F82;
    --gray-dark: #464855;
    --primary: #666EE8;
    --secondary: #6B6F82;
    --success: #28D094;
    --info: #1E9FF2;
    --warning: #FF9149;
    --danger: #FF4961;
    --light: #BABFC7;
    --dark: #464855;
    --ug: #153d6f;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Playfair Display",'Open Sans',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
    --font-family-monospace: 'Quicksand',Georgia,'Times New Roman',Times,serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: url(/about-img2.jpeg);
    height: 95vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Preloader*/
.preloader{
    background: var(--white);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 111;
    position: fixed;
    justify-content: center;
}

.preloader-effect{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    animation: rotate 1s infinite ease-in-out;
}

.preloader img{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
}

.fill{
    height: 2px;
    width: 150px;
    display: flex;
    background: #E5E5E5;
    top: 55%;
    right: 0;
    left: 0;
    bottom: 45%;
    margin: auto;
    border-radius: 20px;
    position: absolute;
}

.line{
    position: absolute;
    height: 2px;
    width: 60px;
    background: #9F8A5F;
    border-radius: 20px;
    animation: load infinite 2s;
}


@keyframes load {
    0%{
        transform: translateX(150%);
    }

    50%{
        transform: translateX(0);
    }

   100%{
       transform: translateX(150%);
   }
}


/*Body Margin*/
.body{
    margin: 2rem auto;
}

/*Navbar*/
.conatiner{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: transparent;
    padding: 20px 15rem;
    height: 80px;
    margin-left: 10px auto;
    margin-right: 10px auto;
    margin-top: 0;
    text-transform: uppercase;
    line-height: 1.6;
    font-size: small;
}

nav img{
    cursor: pointer;
}



.hamburger{
    position: relative;
    z-index: 1;
    user-select: none;
    display: block;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    left: 90%;
    top: -2.5rem;
}

.hamburger span{
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 10px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--black);
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--orange);
}

.hamburger.active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

 
.hamburger.active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.active:hover span{
    background-color: var(--orange);
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0px -8px;
    position: absolute;
    left: 40%;
    top: 25px;
}

.menu a{
    color: var(--black);
    margin: 0 8px;
    font-weight: 600;
    text-decoration: none;
    transition: .4s;
    padding: 8px 16px;
    border-radius: 10px;
}

.menu a:hover{
    background-color: var(--white);
    border: 2px solid black;
}

.menu a:focus-within{
    border-bottom: 2px solid var(--black);
    border-radius: 0;
}

.menu .cta{
    margin-left: 10rem !important;
    border: 2px solid var(--brown);
    border-radius: 15px 0 15px 0;
}

.menu .cta:hover{
    border: 2px solid var(--brown);
    background-color: var(--ug) !important;
    color: white;
    scale: .8;
}

.menu .cta:focus-within{
    border: 2px solid var(--brown);
    background-color: var(--ug) !important;
    color: white;
    border-radius: 15px 0 15px 0;
}

/*Dropdown*/
.drop-downs{
    display: none;
    left: 0%;
    top: 0% !important;
    height: 100vh;
    width: 30vw;
    background: var(--orange) url(/main_bgr.png);
    background-blend-mode: multiply;
    padding: 2rem;
    z-index: 111;
    position: relative;
    bottom: 2rem;
    animation: left-show .7s ease-in-out;
    overflow-y: scroll;
    position: fixed;
}

@keyframes left-show {
    0%{
        transform: translateX(-30rem);
    }
    100%{
        transform: translateX(0);
    }
}

.drop-downs .content{
    padding: 5px;
    overflow-y: visible;
}

.about{
    width: 100%;
}

/*Accordion */


.accordion_button{
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px auto;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333;
    color: #FFFFFF;
    text-align: left;
    transition: background .2s;
}

.accordion > dd{
    margin-bottom: 10px;
    padding: 10px 20px 20px;
    line-height: 1.8;
    font-size: 14px;
}
.accordion_button::after{
    content: '\25be';
    float: right;
    transform: scale(1.5);
}

.accordion_button-active{
    background: #555555;
}
.accordion_button-active::after{
    content: '\25b4';
}

/*
.accordion_content{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    padding: 0 15px;
    background-color: var(--grey);
}
*/

.accordion_button-active + .accordion_content{
    display: block;
}

.accordion_content{
    padding: 0 15px;
    background-color: #eee;
    display: none;
    overflow: auto;
}
.caption h4{
    text-align: right;
    text-transform: capitalize;
    padding: 5px;
    color: var(--white);
}
.caption h3{
    text-align: center;
}

.accordion_content dd{
    padding: 10px;
    font-size: small;
    color: var(--ug);
    font-weight: bold;
}

.accordion_content table{
    font-size: 14px;
    color: #777;
    padding: 10px;
}

.about-texts{
    padding: 5px;
    padding-top: 1rem;
}

.logo-cta img{
    display: block;
    margin-top: 40px;
    margin-left: 40px;
    cursor: pointer;
}

/*Join Group Effect*/
.pop-down{
    display: none;
    left: 30%;
    right: 30%;
    top: 2.4rem !important;
    height: 40vh;
    width: 40vw;
    margin: 2rem auto;
    position: fixed;
    z-index: 1111;
    padding: 2rem;
    overflow: hidden;
    bottom: 2rem;
    background-color: var(--white);
    animation: pop-down .6s ease-in-out;
    border-radius: 0 0 15px 0 ;
}

@keyframes pop-down {
    0%{
        transform: translateY(-30rem);
    }
    100%{
        transform: translateY(0);
    }
    
}

.pop-down img{
    border-radius: 50%;
    margin-left: 30rem;
    margin-top: 2rem;
    cursor: pointer;
}

/*Enquire Tab Dropdown*/
.enquire{
    top: 1rem;
    left: 60% !important;
    right: 0 !important;
    width: 30vw;
    height: 95vh;
    padding: 2rem;
    z-index: 111;
    position: fixed;
    background-color: var(--white);
    border: 2px solid var(--brown);
    border-radius:  15px 0 15px 0;
    animation: flow .6s ease-in;
    overflow: hidden;
    scroll-behavior: smooth;
    display: none;
}

.enquire .tab-content .caption h4{
    color: var(--black) !important;
    text-align: left;
}

@keyframes flow {
   0%{
       opacity: 0;
   }
   100%{
       opacity: 1;
   }
    
}

.closeTab{
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    display: block;
    outline: none;
    background: none;
    cursor: pointer;
    left: 90%;
    top: -1rem;
}

.closeTab span{
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 10px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--black);
    transform-origin: 0 0;
    z-index: 1;
    transition: .4s;
    
}

.closeTab span:nth-child(1){
    transform: translate(0px, -2px) rotate(135deg);
}

.closeTab span:nth-child(2){
    transform: translate(-2px, 8px) rotate(-135deg);
}







/*Special Display Feature*/
@media screen and (min-width: 765px){
    .hamburger{
        display: none;
    }

    .menu{
        display: flex;
    }
}



/*Mobile Display*/
@media screen and (max-width: 765px) {


    /*Preloader Effect*/
    .preloader img{
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        margin: auto;
        width: 250px;
    }

    .fill{
        height: 3px;
        width: 150px;
        display: flex;
        background: #E5E5E5;
        top: 55%;
        right: 0;
        left: 0;
        bottom: 45%;
        margin: auto;
        border-radius: 20px;
        position: absolute;
    }
    
    .line{
        position: absolute;
        height: 3px;
        width: 60px;
        background: #9F8A5F;
        border-radius: 20px;
        animation: load infinite 2s;
    }

    /*Body Margin*/
    .body{
       margin: 4px !important;
    }

    .container-nav{
        width: 100vw;
    }

    .navbar{
        display: inline-block;
        position: fixed;
        margin: .5rem;
    }

    .logo img{
        width: 200px;
        cursor: pointer;
    }

    nav{
        display: inline;
        padding-left: 2px;
        padding-right: 2px;
    }

    ul.primary-menu{
        display: inline-block;
        list-style-type: none;
        background: var(--grey);
        width: 50vw;
        margin: 0 2px 0 2px;
        left: 5rem;
    }

    .primary-menu a{
        color: var(--black);
        text-decoration: none;
        font-size: small;
        font-family: "Lato";
    }


    .hamburger{
        display: block;
    }
    
}




/*Tablet Display*/
@media screen and (min-width:766px) and (max-width: 1023px) {
    

    
    /*Preloader Effect*/
    .preloader img{
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        margin: auto;
        width: 250px;
    }

    .fill{
        height: 3px;
        width: 150px;
        display: flex;
        background: #E5E5E5;
        top: 55%;
        right: 0;
        left: 0;
        bottom: 45%;
        margin: auto;
        border-radius: 20px;
        position: absolute;
    }
    
    .line{
        position: absolute;
        height: 3px;
        width: 60px;
        background: #9F8A5F;
        border-radius: 20px;
        animation: load infinite 2s;
    }

    
    /*Body Margin*/
    .body{
        margin: 1rem !important;
    }


    .container-nav{
        width: 100vw;
    }

    .navbar{
        display: inline-block;
        position: fixed;
        margin: 1rem;
    }

    .logo img{
        width: 250px;
    }





}